/*Body Format*/
body{
    max-width: 90%;
    margin: auto;
    padding: .5% 2%;
    background-color: white;
}

/*Grid Layout*/
.container {
    display: grid;
    grid-template-rows: .5fr 5fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "header nav "
        "main main  "
        "footer footer";
    grid-gap: .5em;        
    height: 100%;
}
header {
    grid-area: header;
}
nav {
    grid-area: nav;
}
main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}
footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-start;
}

/*Top Nav*/
a {
    color: black;
    text-decoration: none;
}
.onPage { 
    color: red;
    text-decoration: none;
}
.red a:link {}
.red a:visited {}
.red a:hover{
    color: red;
}
.red a:active{}
ul {
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: right;
}
li {
    padding: 0em 1em;
    margin-top: 1em;
}

/*Basic Elements*/
h1, h2, h3, h4, h5 {
    font-family: 'Poppins', serif;
}
h1 {
    color: red;
    font-size: 1.5em;
    margin-top: 1em;
    text-align: left;
}
h2 {
    text-align: center;
    padding: 1em;
    font-size: 2em;
}
h3 {
    
}
p {
    font-family: 'Lato', sans-serif;
}

/*Slider bar*/
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: .5em;
    border-radius: 10px; 
    background: black;
    outline: none;
}
/*Silder icon*/
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 30px;
  height: 30px;
  border-radius: 50%; 
  background: red;
  cursor: pointer;
}
/*/Image gallery grid inside contact*/
.image-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    grid-gap: .5em;
    padding: 0%;
    padding: .5% 2%;
}
.project {
    position: relative;
}
.image {
    line-height: 0;
    overflow: hidden;
    object-fit: cover;
}
.image img {
    transition: .3s ease-in;
    transform: scale(1);
}
.title {
    font-family: 'lato', sans-serif;
    font-size: 1.5em;
    text-align: center;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity .2s;
    background: rgba(36, 36, 36,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.project:hover .title {
    opacity: .8;
    background-color: black;
}
.project:hover p{
    color: white;
}
img {
    width: 100%;
    height: auto;
    
}

/*Media Queries*/
@media(max-width: 768px) {
    .container {
        grid-template-rows: .5fr .5fr 5fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "header header"
            "nav nav"
            "main main"    
            "footer footer";   
    }
    h1, ul {
        justify-content: center;
        text-align: center;
        font-size: 1em;
    }
    h1 {
        font-size: 2em;
    }
    ul {
        font-size: 1em;
    }
    .image-container {
        grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    }
}
@media(max-width: 480px) {
    .container {
        display: block;
    }
    .pics {
        display: block;
    }
    .image-container {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
}

